@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 100% 96%;
    --foreground: 240 10% 12%;

    --sage: 150 45% 45%;
    --rose: 340 85% 70%;

    --radius: 1rem;
  }

  body {
    @apply antialiased;
    min-height: 100vh;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
